<app-composant-create (AfterComposantStore)="getAllComposants()"></app-composant-create>
<h1 class="h3 mb-3">Composant</h1>
<button type="submit" class="btn btn-primary my-3" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">Nouveau</button>
<button type="submit" class="btn btn-primary my-3 mx-2" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">Imprimer</button>
<app-alert [ConfigAlert]="configAlert"></app-alert>
<div class="row">
  <div class="col-12 col-md-12">
    <label for="">Veuillez choisir une roue pelles</label>
    <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="searchIdRoue"  (ngModelChange)="changeSearch()">
      <option [ngValue]="-1">Tous les roues pelles</option>
      <option *ngFor="let roue of listeRoues" [ngValue]="roue.id" >{{roue.numPlaque}}</option>
    </select>
    <span class="text-danger">{{searchError}}</span> <br>
  </div>

  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title mb-0">Liste des roues pelles</h5>
      </div>
      <div class="card-body">
        <table class="table table table-striped table-bordered" id="">
          <thead>
            <tr>
              <th scope="col">Numero </th>
              <th scope="col">Quantite</th>
              <th scope="col">Roupelle</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr  *ngFor="let composant of listeComposants">
              <td>{{composant.numCom}}</td>
              <td>{{composant.qte}}</td>
              <td>{{composant.rouePelle.numPlaque}}</td>
              <td>
                <div class="dropdown">
                  <button class="btn btn-primary" (click)="delete(composant.id)">Supprimer</button>

                </div>
              </td>
            </tr>
     


          </tbody>

        </table>
      </div>
    </div>

</div>
