<app-composant-create (AfterComposantStore)="getAllComposants()" [editComposant]="editComp"></app-composant-create>
<h1 class="h3 mb-3">Composants</h1>
<button type="submit" class="btn btn-primary my-3" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">Nouveau</button>
<button type="submit" class="btn btn-primary my-3 mx-2" (click)="generatePdf()">Imprimer</button>
<app-alert [ConfigAlert]="configAlert"></app-alert>
<div class="row">
  <div class="col-12 col-md-12">
    <label for="">Veuillez choisir une roue pelle</label>
    <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="searchIdRoue"  (ngModelChange)="changeSearch()">
      <option [ngValue]="-1">Tous les roues pelles</option>
      <option *ngFor="let roue of listeRoues" [ngValue]="roue.id" >{{roue.numPlaque}}</option>
    </select>
    <span class="text-danger">{{searchError}}</span> <br>
  </div>

  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title mb-0">Liste des roues pelles</h5>
      </div>
      <div class="card-body">
        <table class="table table table-striped table-bordered" id="">
          <thead>
            <tr>
              <th scope="col">Numéro </th>
              <th scope="col">Quantité</th>
              <th scope="col">Roue Pelle</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr  *ngFor="let composant of listeComposants">
              <td>{{composant.numCom}}</td>
              <td>{{composant.qte}}</td>
              <td>Numéro : {{composant.rouePelle.numPlaque}} | Plaque:{{composant.rouePelle.numPlaque}}</td>
              <td>
                <div class="dropdown">
                  <!-- <button type="submit" class="btn btn-primary" (click)="edit(composant)" data-toggle="modal" data-target="#editComposantModal" data-whatever="@getbootstrap">Modifier</button> -->
                  <button class="btn btn-danger mx-2" (click)="delete(composant.id)">Supprimer</button>

                </div>
              </td>
            </tr>



          </tbody>

        </table>
      </div>
    </div>

</div>
